BODY { background-color: #336699; color: white }
BODY A:link { color: white }
BODY A:visited { color: white }
BODY A:active { color: white }
BODY A:hover { color: white; text-decoration: underline }

td.navHead { color: white; font-size: 14pt; text-indent: 10px }
td.navHead A:link { color: white; text-decoration: none }
td.navHead A:visited { color: white; text-decoration: none }
td.navHead A:active { color: white; text-decoration: none }
td.navHead A:hover { color: white; text-decoration: underline }

td.navItem { color: white; font-size: 12pt; text-indent: 18px }
td.navItem A:link { color: white; text-decoration: none }
td.navItem A:visited { color: white; text-decoration: none }
td.navItem A:active { color: white; text-decoration: none }
td.navItem A:hover { color: white; text-decoration: underline }

