#listing_link A:link
{
	color: #3300FF;
	text-decoration: none;
}

#listing_link A:Visited
{
	color: #660099;
	text-decoration: none;
}

#listing_link A:hover 
{ 
	color : #3300FF; 
	text-decoration : underline;
}

#edit_link A:link
{
	color: #3300FF;
	text-decoration: none;
	font-family: Verdana;
}

#edit_link A:Visited
{
	color: #3300FF;
	text-decoration: none;
	font-family: Verdana;
}

#edit_link A:hover 
{ 
	color : #CC0000; 
	text-decoration : none;
	background : #dcdcdc; 
	font-family: Verdana;
}

#folder_item
{
	text-weight: bold;
	font-size: 14pt;
}

#folder_item A:link
{
	color: #FFFFFF;
	text-decoration: none;
	text-weight: bold;
	font-size: 14pt;
}

#folder_item A:Visited
{
	color: #FFFFFF;
	text-decoration: none;
	text-weight: bold;
	font-size: 14pt;
}

#folder_item A:hover
{
	color: #FFFFFF;
	text-decoration: underline;
	text-weight: bold;
	font-size: 14pt;
}
#category_item A:link
{
	color: #FFFFFF;
	text-decoration: none;
	font-size: 13pt;
}

#category_item A:Visited
{
	color: #FFFFFF;
	text-decoration: none;
	font-size: 13pt;
}

#category_item A:hover
{
	color: white;
	text-decoration: underline;
	font-size: 13pt;
}

#black_link A:link
{
	color: black;
	text-decoration: none;
}

#black_link A:Visited
{
	color: black;
	text-decoration: none;
}

#black_link A:hover
{
	color: black;
	text-decoration: underline;
}

#blue_link A:link
{
	color: #3300FF;
	text-decoration: none;
}

#blue_link A:Visited
{
	color: #3300FF;
	text-decoration: none;
}

#blue_link A:hover
{
	color: #3300FF;
	text-decoration: underline;
}


#header_item A:link
{
	color: black;
	text-decoration: none;
}

#header_item A:Visited
{
	color: black;
	text-decoration: none;
}

#header_item A:hover
{
	color: black;
	text-decoration: underline;
}

.white  {
	font-size : 9pt;
	color : #FFFFFF;
	font-weight : bold;
	font-family : Arial, Helvetica, San Serif;
        line-height: 8px;
        text-indent: 20px;
}

.yellow  {
	font-family : Arial, Helvetica, San Serif;
	font-size : 11pt;
	font-weight : bold;
	color : yellow;
	text-indent: 5px;
}


h3 {
	font-size : 13pt;
	font-family : Arial, Helvetica, San Serif;
}


.nwslink  {
	font-size : 9pt;
	color: Black;
	text-decoration: none;
	font-family : Arial, Helvetica, San Serif;
}


#path_item A:link
{
	color: #FFFFFF;
	text-decoration: underline;
}

#path_item A:Visited
{
	color: #FFFFFF;
	text-decoration: underline;
}

#path_item A:hover
{
	color: #FFFFFF;
	text-decoration: underline;
}
