BODY { background-color: #336699; color: white }
BODY A:link { color: yellow }
BODY A:visited { color: yellow }
BODY A:active { color: yellow }

span.catMenuItem { color: white }
span.catMenuItem A:link { color: white; text-decoration: none }
span.catMenuItem A:visited { color: white; text-decoration: none }
span.catMenuItem A:active { color: white; text-decoration: none }
span.catMenuItem A:hover { color: white; text-decoration: underline }

span.projectLink { color: white }
span.projectLink A:link { color: white; font-weight: bold; text-decoration: none }
span.projectLink A:active { color: white; font-weight: bold; text-decoration: none }
span.projectLink A:visited { color: white; font-weight: bold; text-decoration: none }
span.projectLink A:hover { color: white; font-weight: bold; text-decoration: underline }

span.contactEmail { color: white }
span.contactEmail A:link { color: white; font-weight: bold; text-decoration: none }
span.contactEmail A:active { color: white; font-weight: bold; text-decoration: none }
span.contactEmail A:visited { color: white; font-weight: bold; text-decoration: none }
span.contactEmail A:hover { color: white; font-weight: bold; text-decoration: underline }
