.siteTitle, #usgstitle {
	background-color: #4785B6;
	color: #ffffff;
	}

a:link, a:visited {
	text-decoration: none;
	}

a:active, a:hover {
	text-decoration: underline;
	}

h1 {
	font-size: large;
	}

h2 {
	font-size: medium;
	color: #006633;
	}

h3 {
	font-size: medium;
	color: #663300;
	}

body, td, th {
	font-size: medium;
	}

/* Element names */
.element,var {
	color: #006600;
	font-style: normal;
	font-weight: bold;
	}

/* stuff people type */
code {
	color: #990000;
	font-family: monospace;
	}
