span.leh  { color: purple; font-weight: bold; }
span.green  { color: green; font-weight: bold; }
.full_box table { border: 1px solid #000; }
.full_box table th {
	background-color: #b6c3d3;
	color: #000;
	border: 1px solid #000;
	padding: 2px;
	text-align: center;
}
.full_box table td {
	border: 1px solid #000;
	padding: 2px;
	text-align: center;
}
.full_box .footp {
	font-size: 10pt;
	font-style: italic;
	text-align: right;
}
div#wrapper { margin: 0 auto; }	
#tbl-head { background-color: #fff; }	
#big-tbl { border-top-width: 0px; }	
.stuck { position: fixed; top: 0; }