BODY { background-color: #336699; color: white; }
TD { font-size: 15pt }
BODY A:link { color: white; text-decoration: none; }
BODY A:visited { color: white; text-decoration: none; }
BODY A:active { color: white; text-decoration: none ; }
BODY A:hover { color: white; text-decoration: underline ; }

