BODY { background-color: #e9e9e9; color: black }
BODY A:link{ color: #000066; text-decoration: none }
BODY A:visited{ color: #000066; text-decoration: none }
BODY A:active{ color: #000066; text-decoration: none }
BODY A:hover{ color: #000066; text-decoration: underline }

TABLE { background-color: #dcdcdc }
/*TR { border: think black  }
TD { border-color: #E0E0E0; border-style: inset; border-width: thin  }*/

TABLE.titleTable { font-size: x-large; font-weight: bold; background-color: #dcdcdc; font-family: Verdana; border-style: none  }
TR.tableHead { font-weight: bold; color: white; background-color: #A00000; font-size: 14pt }
TR.tableHead A:link { color: black; text-decoration: none }
TR.tableHead A:visited { color: black; text-decoration: none }
TR.tableHead A:active { color: black; text-decoration: none }
TR.tableHead A:hover { color: black; text-decoration: underline }

TR.catHead { font-weight: bold; color: black; background-color: white; } 
TR.catHead A:link { color: #3300FF; text-decoration: none } 
TR.catHead A:visited { color: #3300FF; text-decoration: none } 
TR.catHead A:active { color: #3300FF; text-decoration: none } 
TR.catHead A:hover { color: #3300FF; text-decoration: underline } 

TD.dsTitleCell { color: black }
TD.dsTitleCell A:link { color: #D00000; text-decoration: none }
TD.dsTitleCell A:visited { color: #D00000; text-decoration: none }
TD.dsTitleCell A:active { color: #D00000; text-decoration: none }
TD.dsTitleCell A:hover { color: #FF0000; text-decoration: underline }

TD.dsDocCell { color: white; font-size: 11px }
TD.dsDocCell A:link { color: #D00000; text-decoration: none }
TD.dsDocCell A:visited { color: #D00000; text-decoration: none }
TD.dsDocCell A:active { color: #D00000; text-decoration: none }
TD.dsDocCell A:hover { color: #D00000; text-decoration: underline }
