BODY {background-color: #e9e9e9; color: black; font-face: Verdana}
BODY A:link{color: #000066; text-decoration: none}
BODY A:active{color: #000066; text-decoration: none}
BODY A:visited{color: #000066; text-decoration: none}
BODY A:hover{color: #000066; text-decoration: underline}

TABLE {background-color: #e9e9e}
TD {background-color: white}
TD A:link{ color: #3300FF; text-decoration: none;}
TD A:active{ color: #660099; text-decoration: none;}
TD A:visited{ color: #660099; text-decoration: none;}
TD A:hover{ color: #3300FF; text-decoration: underline;}

TR.tableHead{ background-color: #336699; color: white }
TR.tableHead A:link{ color:white; text-decoration: none;}
TR.tableHead A:active{ color:white; text-decoration: none;}
TR.tableHead A:visited{ color:white; text-decoration: none;}
TR.tableHead A:hover{ color:white; text-decoration: underline;}

