BODY { background-color: white; font-family: Helvetica; color: black}
BODY A:link { color: indigo; text-decoration: none; }
BODY A:visited{ color: indigo; text-decoration: none; }
BODY A:active{ color: indigo; text-decoration: none; }
BODY A:hover{ color: red; text-decoration: none; }

TD { font-size: 10pt; border-color: #ddd; }

FONT.title{ font-size: 13pt; color: black; }
TR.header{ font-size: 13pt; color: white; font-weight: bold; background-color: #6f8897; text-shadow: 2px 2px 3px #333; filter: dropshadow(color=#333, offx=2, offy=2); }

