BODY { background-color: #003170; color: white }
BODY A:link { color: blue }
BODY A:visited { color: blue; text-decoration: none }
BODY A:active { color: blue; text-decoration: none }
BODY A:hover { color: red; text-decoration: none }

td.catMenuHead { color: white; font-size: 14pt; text-indent: 5px }
td.catMenuHead A:link { color: white; text-decoration: none }
td.catMenuHead A:visited { color: white; text-decoration: none }
td.catMenuHead A:active { color: white; text-decoration: none }
td.catMenuHead A:hover { color: red; text-decoration: none }

td.catMenuItem { color: black; font-size: 13pt; font-weight: bold; text-indent: 10px }
td.catMenuItem A:link { color: white; text-decoration: none }
td.catMenuItem A:visited { color: white; text-decoration: none }
td.catMenuItem A:active { color: white; text-decoration: none }
td.catMenuItem A:hover { color: red; text-decoration: none }

td.projectLink { color: black; text-indent: 10px; font-size: 11pt }
td.projectLink A:link { color: white; font-weight: bold; text-decoration: none }
td.projectLink A:active { color: white; font-weight: bold; text-decoration: none }
td.projectLink A:visited { color: white; font-weight: bold; text-decoration: none }
td.projectLink A:hover { color: red; font-weight: bold; text-decoration: none }

td.contactEmail { color: white }
td.contactEmail A:link { color: white; font-weight: bold; text-decoration: none }
td.contactEmail A:active { color: white; font-weight: bold; text-decoration: none }
td.contactEmail A:visited { color: white; font-weight: bold; text-decoration: none }
td.contactEmail A:hover { color: red; font-weight: bold; text-decoration: none }
