BODY { background-color: #e9e9e9; color: black }
BODY A:link { color: blue }
BODY A:visited { color: purple }
BODY A:active { color: purple }

td.catMenuHead { color: black; font-size: 14pt; text-indent: 5px }
td.catMenuHead A:link { color: black; text-decoration: none }
td.catMenuHead A:visited { color: black; text-decoration: none }
td.catMenuHead A:active { color: black; text-decoration: none }
td.catMenuHead A:hover { color: black; text-decoration: underline }

td.catMenuItem { color: black; font-size: 13pt; text-indent: 10px }
td.catMenuItem A:link { color: black; text-decoration: none }
td.catMenuItem A:visited { color: black; text-decoration: none }
td.catMenuItem A:active { color: black; text-decoration: none }
td.catMenuItem A:hover { color: black; text-decoration: underline }

td.projectLink { color: black; text-indent: 10px }
td.projectLink A:link { color: black; font-weight: bold; text-decoration: none }
td.projectLink A:active { color: black; font-weight: bold; text-decoration: none }
td.projectLink A:visited { color: black; font-weight: bold; text-decoration: none }
td.projectLink A:hover { color: black; font-weight: bold; text-decoration: underline }

td.contactEmail { color: black; }
td.contactEmail A:link { color: blue; font-weight: bold; text-decoration: none }
td.contactEmail A:active { color: blue; font-weight: bold; text-decoration: none }
td.contactEmail A:visited { color: blue; font-weight: bold; text-decoration: none }
td.contactEmail A:hover { color: blue; font-weight: bold; text-decoration: underline }
