<web-app xmlns="http://java.sun.com/sml/ns/j2ee"
         xmlns:xsi="http://www.w3c.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">


   <display-name>Master List</display-name>
   <description>The web tool displaying the master list information to a user.</description>

</web-app>

