body { 
   background-color: #EBF6FF; 
   margin: 0px;
   color: #212121;
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 10pt;
}

a {
   color: #0066CC;
   text-decoration: none;
}

a:hover {
   color: #830000;
   text-decoration: underline;
}

.title {  
	font-size: 16pt; 
	font-weight: bold; 
}

.subtitle {  
	font-size: 14pt; 
	font-weight: bold; 
	color:#0068AE; 
	align: center;
	text-decoration: none;
}

.subsubtitle {  
	font-size: 12pt; 
	font-weight: bold; 
	color:#0068AE; 
}

.altsubsubtitle {  
	font-size: 12pt; 
	font-weight: bold; 
	color:#0068AE; 
}

# Text types
.text  {  
	font-size: 10pt;  
}
.text_bold  {  
	font-size: 10pt;
	font-weight: bold;   
}
.text_reverse {
   font-size: 10pt;
   font-weight: normal;
   color: #FFFFFF;
}
.text_forbidden {
   font-size: 10pt;
   font-weight: normal;
   color: #212121;
}

.text_colored {
   font-size: 10pt;
   font-weight: normal;
   color: #083194;
}

.error {
	font-size: 10pt; 
   	font-weight: normal; 
	color: #ff0000;
}

.warning {
	font-size: 10pt; 
   	font-weight: normal; 
	color: #ff0000;
}

.panel {
   border: thin solid #0068AE;
   padding-top: 2px;
   padding-right: 4px;
   padding-bottom: 2px;
   padding-left: 2px;
   background-color: #e4efff;
}

.panel1 {
   border: thin solid #669999;
   padding-top: 2px;
   padding-right: 4px;
   padding-bottom: 2px;
   padding-left: 2px;
   background-color: #66FFCC;
}

.panel2 {
   border: thin solid #CC33FF;
   padding-top: 2px;
   padding-right: 4px;
   padding-bottom: 2px;
   padding-left: 2px;
   background-color: #CCCCFF;
}

.panel3 {
   border: thin solid #000099;
   padding-top: 2px;
   padding-right: 4px;
   padding-bottom: 2px;
   padding-left: 2px;
   background-color: #2890C7;
}

.panel4 {
   border: thin solid #442F1C;
   padding-top: 2px;
   padding-right: 4px;
   padding-bottom: 2px;
   padding-left: 2px;
   background-color: #15D64F;
}

.panel_header {
	font-weight: bold;
	color: #212121;
}

.panel_item {
	font-weight: normal;
	color: #212121
}

.menus_box { 
   background-color: #FFFFFF;
   padding: 2px 2px 2px 2px;
   border: 2px #0068AE solid;
   color: #0068AE;
}  
.menus_item { 
    background: #FFFFFF;
    width: 95%; 
    padding: 1px;
    font-size: 12px;
}

.menus_title {
	background: #FFFFFF;
    width: 95%; 
    padding: 4px;
    border-bottom: 1px solid #6373B5;
    border-right: 1px solid #6373B5;
    font-size: 12px;
    color: #212121;
    font-weight: bold; 
	text-decoration: underline;
}

.menus_text {
	color: #0068AE;	
}

.line {
    width: 100%;
    height: 1px;
    background-color: #0068AE;
}

td {
	font-size: 10pt;
}
th {
	font-size: 10pt;
	font-weight: bold;
    color: #FFFFFF;
	background-color: #0068AE;
}

############################ END SPRING CSS #########################

h1 {
	font-size: 16px;
}
h2 {
	font-size: 11pt;
	font-weight: bold;
}
p {
	font-size: 10pt;
}
.white_link {
   font-weight: normal;
   font-weight: bold;
   color: #ffffff;
   text-decoration: underline;
}
a.white:link {
	color: #ffffff; 
	background: #0068AE; 
	font-weight: bold; 
	text-decoration: none; 
	border: none;
}
a.white:active {
	color: #ffffff; 
	background: #0068AE; 
	font-weight: bold; 
	text-decoration: none; 
	border: none;
}
a.white:visited {
	color: #ffffff; 
	background: #0068AE; 
	font-weight: bold; 
	text-decoration: none; 
	border: none;
}
a.white:hover {
	color: #0068AE; 
	background: #ffffff; 
	font-weight: bolder;  
	border: none;
}
.box_filled {
   background-color: #e4efff;
   padding: 1px 1px;
   border: 1px;
}
.box_filled_border {
   background-color: #0068AE;
   padding: 4px 4px 4px 4px;
   border: 2px #000000 outset;
   color: #ffffff;
}
.titleBlue { 
	font-size: 14px; 
	font-weight: bold; 
	color: #0068AE; 
}
.subtitle {  
	font-size: 10pt; 
	font-weight: bold; 
}
.mytitle {  
	font-size: 14px; 
	font-weight: bold; 
	color:#0068AE; 
}

.textRed  {  
	font-size: 10pt; 
}
.textBold {  
	font-size: 9pt; 
	font-weight: bold; 
}
.text_bold_blue {  
	font-size: 10pt; 
	font-weight: bold; 
	color: #0068AE; 
}
.text_blue {  
	font-size: 10pt; 
	color: #0068AE; 
}
.text_title {  
	font-size: 12pt; 
	font-weight: bold; 
	color: #0068AE; 
}
.text_bold_white { 
	font-size: 10pt; 
	font-weight: bold; 
	color: #FFFFFF; 
}
.dataset { 
	font-size: 14px; 
}
.metadata { 
	font-size: 10pt; 
	font-weight: bold; 
	color: #00FF00; 
}
.name { 
	font-size: 10pt; 
	font-weight: bold; 
}
.value {  
	font-size: 10pt; 
}
.valuesmall { 
	font-size: 10px; 
}
.tag { 
	font-size: 10pt; 
	font-weight: bold; 
}
.catalog { 
	font-size: 10pt; 
	color: #FF0000;  
	font-weight: bold; 
}
.tableborder1px { 
	border: 1px solid; 
}
.msd_dataset {  
	font-size: 13px; 
}
.msd_desc { 
	font-size: 10pt; 
}
.msd_metadata { 
	font-size: 11px; 
}
.msd_name {  
	font-size: 11px; 
}
.msd_value {  
	font-size: 11px; 
}
.metadatalink { 
	font-size: 11px; 
	color:#666666; 
}
.footerlink { 
	font-size: 10px; 
	color:#666666; 
}
.collection {  
	font-size: 11pt; 
	color: #0000FF;  
	font-weight: bold; 
}
.dataset {  
	font-size: 10pt; 
	color: #0000FF; 
	font-weight:bold; 
}
.uri {  
	font-size: 10pt; 
	color: #0068AE; 
	text-decoration: none; 
}
.dc { 
	border: thin #0000FF solid; 
}
.dcterms { 
	border: thin #00FF00 solid; 
}
.esgdb_header {  
	font-size: 10pt; font-weight: bold; color: #0000FF; 
}
.esgdb_name   {
	font-size: 10pt;
	font-weight: bold;
	color: #404040;
	text-align: right;
}
.esgdb_value  {  font-size: 10pt; font-weight: normal; color: #404040; }
.message {  font-size: 14px; font-weight: bold; color: red; }
.tab {
   font-family: Lucida Sans, Verdana, sans-serif;
   font-size: 10pt;
   color: #FFFFFF;
   font-weight: bold;
   background-color: #0068AE;
}
.adminTab {
   border-collapse: collapse;
   font-family: Lucida Sans, Verdana, sans-serif;
   font-size: 9pt;
   font-color: #bFbFbF;
   font-weight: bold;
   border-style: solid solid solid solid;
   background-color: #0068AE;
   color: #bfbfbf;
   border: thin solid #0068AE;
	border-left: 1px #6ea9d1 solid; 
	border-right: 1px black solid; 
	border-top: 1px #6ea9d1 solid; 
	border-bottom: 1px black solid;

}
.admin2 {
   font-family: Lucida Sans, Verdana, sans-serif;
   font-weight: bold;
   font-size: 9pt;
   font-color: #0068ae;
   color: #0068ae;
   background-color: #ebfbff;
}
.highlight {
        background: #dee7ec;
}

.tab_2 {
   font-family: Lucida Sans, Verdana, sans-serif;
   font-size: 10pt;
   color: #FFFFFF;
   padding:1px;
   font-weight: bold;
   background-color: #0068AE;
   text-decoration: none;
}
.panel_2 {
   border: thin solid #0068AE;
   padding-top: 2px;
   padding-right: 4px;
   padding-bottom: 2px;
   padding-left: 2px
}
.paging {
	font-size: x-small;
}
/* portlets and sidebars */
.portlet {
    border: none;
    margin-bottom: 1em;
    padding: 0;
}
.portlet h2 { 
    background-color: #BCE0FF;
    color: #000000;
    border: 1px solid #8cacbb;
    border-style: solid solid none solid;
    padding: 0em 1em 0em 1em;
    display: inline;
    font-size: .8em;
    height: 1em;
    font-weight: normal;
    white-space: nowrap;
}
.portletContent {
    background: transparent;
    border-collapse: collapse;
    border: 1px solid #8cacbb;
    padding: .5em;
}
.portlet ul,
.portlet li {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-image: none;
    line-height: 1em;
}
.navIcon {
    position: relative;
    right: 20px;
}
.navItemText {
    margin-left: -20px;
}
.sidebar {
	font-size: x-small;
}
/* Use this div id when you want to create multiple tabs on a portlet */
div#portletTabs { 
	z-index:2;
	border: 0px; 
	white-space: nowrap; 
}
div#portletTabs ul#tabs { 
	padding: 0; 
	margin: 0; 
	list-style-type: none; 
	text-align: center; 
}
div#portletTabs ul#tabs li { 
	display: block; 
	float: left; 
	text-align: center; 
	margin-left: auto; 
	margin-right: auto; 
}
div#portletTabs ul#tabs li a { 
	color: white; 
	background: #0068ae; 
	font-size: 0.85em; 
	text-decoration: none; 
	display: block; 
	height: 17px; 
	width: 125px; 
	font-weight: bold; 
	padding-top: 1px; 
	border-left: 1px #6ea9d1 solid; 
	border-right: 1px black solid; 
	border-top: 1px #6ea9d1 solid; 
	border-bottom: 1px black solid; 
}
div#portletTabs ul#tabs li a:hover { 
	color: #0068ae; 
	background: #ffffff; 
	border-top: 1px white solid; 
	border-bottom: 1px black solid; 
}
div#portletTabs ul#tabs li a.selected { 
	background: #ffffff; 
	color: #0068ae; 
	border-top: 1px black solid; 
	border-bottom: 1px white solid; 
	text-decoration: none; 
}
div#portletTabs ul#tabs li a.selected:hover { 
	border-top: 1px white solid; 
	border-bottom: 1px white-solid; 
}
.portletBorder {     
	border-width: 1px;
	border-style: none solid solid solid;
	border-color:#333333;
}
#portal-globalnav {
    background-color: transparent;
    border-collapse: collapse;
    padding: 0em 0em 0em 0em;
    white-space: nowrap;
    list-style: none;
	margin: 0;
    margin-left: 15px;
    height: auto;
    line-height: normal;
}
#portal-globalnav li {
    display: inline;
}
#portal-globalnav li a {
    /* The normal, unselected tabs. They are all links */
    background-color: transparent;
    border-color: #333333;
    border-width: 1px; 
    border-style: solid solid none solid;
	border-top: #000000 1px solid;
    color: #000000;
    padding: 0em 1.5em;
    text-decoration: none;
}
#portal-globalnav li.select a {
    /* The selected tab. There's only one of this */
    background-color: #FFE4A2;
    border: 1px solid #000000;
    border-bottom: #FFE4A2 1px solid;
    color: #000000;
}
#portal-globalnav li.selectPurple a {
    /* The selected tab. There's only one of this */
    background-color: #a7a6d0;
    border: 1px solid #000000;
    border-bottom: #a7a6d0 1px solid;
    color: #000000;
}
#purple { background-color: #a7a6d0; }
#portal-globalnav li a:hover {
    background-color: #FFE4A2;
    border-color: #333333;
    border-bottom-color: #FFE4A2;
    color: #000000;
}
#portal-globalnav li.selectPurple a:hover {
    /* The selected tab. There's only one of this */
    background-color: #a7a6d0;
    border: 1px solid #000000;
    border-bottom: #a7a6d0 1px solid;
    color: #000000;
}
#portal-personaltools {
    border-top-color: #333333;
    border-top-style: solid;
    border-top-width: 1px;
    margin: 0;
    list-style: none;
}
/* HEADERNAV transforms an unordered list into horizontal navigation tabs */
/* margin-left: auto; margin-right: auto; */
div#headernav_parents { 
	display: block; 
	float: left; 
	margin-left: 5px; 
	margin-right: 10px; 
	font-size: 0.85em; 
	color: #0068ae; 
	margin-top:5px;
}
div#headernav_parents a { 
	color: #0068ae; 
`	text-decoration: none; 
}
div#headernav_parents a:hover { 
	color: #212121; 
	text-decoration: underline; 
}
div#headernav_parents a.selected { 
	color: #212121; 
	text-decoration: none; 
}
div#headernav_parents a.selected:hover { 
	color: white; 
	text-decoration: underline; 
}
div#headernav {  
	position:absolute; 
	width: 800px;
	height: 20px; 
	margin-left: 30px;   
	border: 0px; 
}
div#headernav ul#header_menu, div#headernav ul#button-header{ 
	padding: 0; 
	margin: 0; 
	list-style-type: none; 
	text-align: center; 
}
div#headernav ul#header_menu li, div#headernav ul#button-header li { 
	display: block; 
	float: left; 
	text-align: center; 
}
div#headernav ul#header_menu li a { 
	color: #CCC; 
	background: #0068ae; 
	font-size: 0.85em; 
	text-decoration: none; 
	display: block; 
	height: 17px; 
	width: 100px; 
	font-weight: bold; 
	padding-top: 1px; 
	border-left: 1px #6ea9d1 solid; 
	border-right: 1px black solid; 
	border-top: 1px #6ea9d1 solid; 
	border-bottom: 1px black solid; 
}
div#headernav ul#header_menu li a:hover { 
	color: #0068ae; 
	background: #ffffff; 
	border-top: 1px gray solid; 
	border-bottom: 1px black solid; 
}
div#headernav ul#header_menu li a.selected { 
	background: #ffffff; 
	color: #0068ae; 
	border-left: 1px gray solid; 
	border-bottom: 1px white solid; 
	border-top: 1px white solid; 
	text-decoration: none; 
}
div#headernav ul#header_menu li a.selected:hover { 
	border-top: 1px white solid; 
	border-bottom: 1px white-solid; 
}
/* end HEADERNAV */
.hiliteElement {
	background-color: #EEEEEE;
}
.example {
	font-family: sans-serif;
	font-size: 9pt;
	color: gray;
	font-style: italic;
}
.entryTitle {
	font-family: sans-serif;
	font-size: 11pt;
	color: black;
	font-style: bold;
}
.fileMod {
	font: italic 10pt sans-serif;
	color: Teal;
}
.metaEntryTableFormat {
	margin-left: 10px;
	margin-right: 10px;
}
.metaNav { 
	font-size: 10px; 
}
.metaNav a {
	color: #0000FF; 
	text-decoration: none; 
}
.metaNav a:hover {
	color: #0000FF; 
	text-decoration: underline; 
}
.metaNav a:visited {
	color: #0000FF;
}
.required {
	font-size: 10pt; 
	color: #ff8429; 
	text-decoration: none; 
}
.myheader {  
	font-size: 10pt; 
	font-weight: bold; 
	color:#000000;
	align: center; 
}
.required a {
	color: #990000; 
	text-decoration: none; 
}
.required a:hover {
	color: #990000; 
	text-decoration: underline; 
}
.required a:visited {
	color: #990000; 
}
.row_blue {
	background-color: #E4EFFF;
	font-size: 10px;
}
.row_white {
	background-color: #ffffff;
	font-size: 10px;
}

.message {
	color: #ff8429;
}

.req {
	padding: 5px;
	color:DarkRed;
}

// CADIS side menu styles
#links {
	width:11em; margin:2px 0px 20px 30px; float:left} 
#button {
	background-color:#e4eFfF;
	margin-right:1px;
	padding: 4px;
  	border-top:1px solid #03B; 
  	border-right:1px solid #03B; 
  	border-left:1px solid #03B;
  	border-bottom: 1px solid #03B}
#button ul {list-style:none; border: none; margin:0px; padding:0px}
#button li {border-bottom:2px solid #e4EFFF; margin:0px}
#button li.top { border-top:3px solid #DFDFCF; border-right:3px solid #BFBFAF; 
  border-bottom:3px solid #BFBFAF; border-left:3px solid #DFDFCF; 
  background-color:#0068AE; font-family:Arial, Lucida, Helvetica, sans-serif; 
  color:#ffe; font-size:8pt; font-weight:bold; display:block; 
  padding:3px 2px; width:100%; text-align:center}
  
#button li a {
  height:25px;
  background-image:url(/cadisEditor/images/button-gradient-31px.png);
  background-repeat:repeat-x;	
  border-top:3px solid #DFDFCF;
  border-right:3px solid #BFBFAF; 
  border-bottom:3px solid #BFBFAF;
  border-left:3px solid #DFDFCF; 
  font-family:Arial, Lucida, Helvetica, sans-serif;
  font-size:8.5pt; 
  font-weight:bold;
  display:block;
  padding:3px 0.2em;
  width:100%; 
  text-align:center;
  vertical-align:middle
  text-decoration:none
}
html>body #button li a, html>body #button li.top {width:auto}
#button li a:hover {
  background-image:url(/cadisEditor/images/button-gradient-hover-31px.png);
  background-repeat:repeat-x;	
  color: #830000;
}
#button li a:hover { color: #830000;}
#button-header li a:hover {
background-image:url(/cadisEditor/images/button-gradient-hover.png);
background-repeat:repeat-x;
color: #0068AE;
}
// CADIS top button menu styles
#links {width:11em; margin:2px 0px 20px 30px; float:left} 
#button-header li a {
background-image:url(/cadisEditor/images/button-gradient.png);
background-repeat:repeat-x; 
	margin-right:1px; padding: 4px;
  	border-top:3px solid #DFDFCF;
    border-right:3px solid #BFBFAF; 
  	 border-left:3px solid #DFDFCF; 
  	border-bottom:3px solid #BFBFAF;
  	font-family:Arial, Lucida, Helvetica, sans-serif;
   font-size:8.5pt; 
  font-weight:bold;
  	display: block; 
	height: 12px; 
	width: 100px; 
	padding:3px 0.2em;
	list-style:none; 
	text-decoration:none;
  }
#button ul {list-style:none; border: none; margin:0px; padding:0px}
#button li {border: 1px solid white; margin:0px}
#button-header ul {list-style:none; border: none; margin:0px; padding:0px}
#button-header li {border :1px solid white; margin:0px}
#button li.top { border-style: solid; border-color: white white #E5EFFE; border-width: 1px 1px 4px;
  background-color:#0068AE; font-family:Arial, Lucida, Helvetica, sans-serif; 
  color:#ffe; font-size:8pt; font-weight:bold; display:block; 
  padding:3px 2px; width:100%; text-align:center}
#button li a {border-top:3px solid #DFDFCF; border-right:3px solid #BFBFAF; 
  border-bottom:3px solid #BFBFAF; border-left:3px solid #DFDFCF; 
  font-family:Arial, Lucida, Helvetica, sans-serif; font-size:9pt; 
  font-weight:bold; display:block; padding:3px 0.2em; width:100%; 
  text-align:center; text-decoration:none}
html>body #button li a, html>body #button li.top {width:auto}


