.spinner {
	position: absolute;
	right:0px;
	padding:5px;
}
a:active,a:link,a:visited,a:hover {
    color:#0D5798;    
}
.menuButton {
	background-color:#8CAFCD;
	border: 1px solid white;
	border-style: none solid none none ;
	margin-left:0px;
	padding-bottom: 5px;
}

.menuButton a:active,.menuButton a:link,.menuButton a:visited,.menuButton a:hover {
	font-family:Arial,sans-serif;
    font-size:0.9em;
    color: white;
    font-weight:bold;
    text-decoration:none;
	padding:20px;
}
.actionButton a:active,.actionButton a:link,.actionButton a:visited,.actionButton a:hover {
	font-family:Arial,sans-serif;
	font-size:0.8em;
	font-weight:bold;
	color: #578BB8;	
}


h1 {
	font-family:Arial,sans-serif;
	color:#578BB8;
	font-size:1.6em;
}

body {
	margin:0px;
	font-family:Arial,sans-serif;
	color: #616161;
}

textarea {
	width: 300px;
	height: 100px;
}

table {
	width: 100%;
}
.body {
	padding: 25px;
}
.nav {
	width:100%;
	margin-top: 30px;
	background-color:#D6D6D6;
	height: 22px;
	border: 2px solid #578BB8;
	border-style: solid none none none ;	
}

th {
	background-color:#578BB8;
	color:white;
	width:30px;
	font-family:Arial,sans-serif;
	padding:5px;
	
}
td {
	background-color:#EBF6FF;
	text-align:left;
}
.dialog 
{
	padding: 15px;
	background-color:#F0F0F0;
	
}
.dialog label{
	width: 120px;
	font-weight: bold;
}

.dialog .textfield, textarea{
	width: 180px;
	margin-bottom: 5px;
}

textarea{
	width: 250px;
	height: 150px;
}

.prop {
	padding: 5px;
}

.req {
	padding: 5px;
	color:DarkRed;
}

.buttons {
	margin-top: 15px;
}
.actionButtons {
	width:100px;
}
div .errors {
	border: 2px solid red;
	padding: 5px;
	margin-top:10px;
	margin-bottom:10px;
}
td .errors {
   border: 1px solid red;
}
.message {
	border: 1px solid #FFCC00;
	padding: 5px;
	margin-top:10px;
	margin-bottom:10px;
}
.prop .name {
	font-weight:bold;
	text-align:left;
	width:20%;
}
.prop .value {
	text-align:left;
	width:80%;
}

.prevLink, .step, .currentStep, .nextLink {
	padding-right: 5px;
}
.currentStep {
	font-weight:bold;
}

th.sorted a, th.sorted a:link, th.sorted a:visited, th.sorted a:hover, th.sortable a, th.sortable a:link, th.sortable a:visited, th.sortable a:hover {
	color: white;
}

#links {width:12em; margin:2px 0px 10px 30px; float:left} 
#button {background-color:#EBF6FF; margin-right:1px; 
  border-top:1px solid #03B; border-right:1px solid #03B; 
  border-left:1px solid #03B}
#button ul {list-style:none; border:none; margin:0px; padding:0px}
#button li {border-bottom:1px solid #03B; margin:0px}
#button li.top { border-top:3px solid #DFDFCF; border-right:3px solid #BFBFAF; 
  border-bottom:3px solid #BFBFAF; border-left:3px solid #DFDFCF; 
  background-color:#0068AE; font-family:Arial, Lucida, Helvetica, sans-serif; 
  color:#ffe; font-size:10pt; font-weight:bold; display:block; 
  padding:3px 0.2em; width:100%; text-align:center}
#button li a {border-top:3px solid #DFDFCF; border-right:3px solid #BFBFAF; 
  border-bottom:3px solid #BFBFAF; border-left:3px solid #DFDFCF; 
  font-family:Arial, Lucida, Helvetica, sans-serif; font-size:10pt; 
  font-weight:bold; display:block; padding:3px 0.2em; width:100%; 
  text-align:center; text-decoration:none}
html>body #button li a, html>body #button li.top {width:auto}  
#button li a:hover {background-color:#ffe}

