BODY { background-color: white; font-family: Verdana; color: black}
BODY A:link { color: #000099; text-decoration: none; }
BODY A:visited{ color: #9900CC; text-decoration: none; }
BODY A:active{ color: #9900CC; text-decoration: none; }
BODY A:hover{ color: #000099; text-decoration: underline; }

TD {font-size: 10pt;}

FONT.title{ font-size: 13pt; color: black; }
TR.header{ font-size: 10pt; color: white; font-weight: bold; background-color: #660066; }
