a:link {
   color:#0000DD;
   text-decoration:none;
}

a:hover {
   color:#00AA00;
   text-decoration:none;
}

a:visited {
   color:#0000DD;
   text-decoration:none;
}

body {
   background-color:#EEEEEE;
}

dt.input {
   color:#000000;
   font-weight:bold;
}

dt.output {
   color:#000000;
   font-weight:bold;
}

dt.limitation {
   color:#AA0000;
   font-weight:bold;
}

dt.link {
   color:#000000;
   font-weight:bold;
}

dt.warning { 
   color:#FF0000; 
   font-weight:bold;
}

th {
   background-color:#000088;
   color:#FFFFFF;
   font-size:16pt;
   font-weight:bold;
}

