BODY { background-color: #660066; color: white }
BODY A:link { color: white }
BODY A:visited { color: white }
BODY A:active { color: white }

td.catMenuHead { color: yellow; font-size: 11pt; font-family: Arial, Helvetica, San Serif; text-indent: 5px }
td.catMenuHead A:link { color: yellow; text-decoration: none }
td.catMenuHead A:visited { color: yellow; text-decoration: none }
td.catMenuHead A:active { color: yellow; text-decoration: none }
td.catMenuHead A:hover { color: yellow; text-decoration: underline }

td.catMenuItem { color: white; font-size: 10pt; font-weight: bold; text-indent: 10px; font-family: Arial, Helvetica, San Serif; }
td.catMenuItem A:link { color: white; text-decoration: none }
td.catMenuItem A:visited { color: white; text-decoration: none }
td.catMenuItem A:active { color: white; text-decoration: none }
td.catMenuItem A:hover { color: #48D1CC; text-decoration: underline }

td.projectLink { color: white; font-size: 10pt; text-indent: 10px; font-family: Arial, Helvetica, San Serif;}
td.projectLink A:link { color: white; font-weight: bold; text-decoration: none }
td.projectLink A:active { color: white; font-weight: bold; text-decoration: none }
td.projectLink A:visited { color: white; font-weight: bold; text-decoration: none }
td.projectLink A:hover { color: #48D1CC; font-weight: bold; text-decoration: underline }

span.contactEmail { color: white; font-size: 10pt; fon-family: Arial, Helvetica, San Serif;}
span.contactEmail A:link { color: yellow; font-weight: bold; text-decoration: none }
span.contactEmail A:active { color: yellow; font-weight: bold; text-decoration: none }
span.contactEmail A:visited { color: yellow; font-weight: bold; text-decoration: none }
span.contactEmail A:hover { color: yellow; font-weight: bold; text-decoration: underline }
