BODY { background-color: white; color: black }
BODY A:link { color: blue }
BODY A:visited { color: purple }
BODY A:active { color: purple }

span.catMenuHead { color: black; font-size: 14pt }
span.catMenuHead A:link { color: black; text-decoration: none }
span.catMenuHead A:visited { color: black; text-decoration: none }
span.catMenuHead A:active { color: black; text-decoration: none }
span.catMenuHead A:hover { color: #00A8FF; text-decoration: underline }

span.catMenuItem { color: black; font-size: 13pt }
span.catMenuItem A:link { color: black; text-decoration: none }
span.catMenuItem A:visited { color: black; text-decoration: none }
span.catMenuItem A:active { color: black; text-decoration: none }
span.catMenuItem A:hover { color: #00A8FF; text-decoration: underline }

span.projectLink { color: black }
span.projectLink A:link { color: black; font-weight: bold; text-decoration: none }
span.projectLink A:active { color: black; font-weight: bold; text-decoration: none }
span.projectLink A:visited { color: black; font-weight: bold; text-decoration: none }
span.projectLink A:hover { color: #00A8FF; font-weight: bold; text-decoration: none }

span.contactEmail { color: black }
span.contactEmail A:link { color: blue; font-weight: bold; text-decoration: none }
span.contactEmail A:active { color: blue; font-weight: bold; text-decoration: none }
span.contactEmail A:visited { color: blue; font-weight: bold; text-decoration: none }
span.contactEmail A:hover { color: #00A8FF; font-weight: bold; text-decoration: none }
