body {
    color: #000;
    margin: 2em auto;
    text-align: justify;
    width: 800px;
}

.buttonTable {
    border: 0;
    text-align: right;
    width: 100%;
}

h1 {
    text-align: center;
}

form {
    border: 1px solid #000;
    background-color: #FFC;
    color: #000;
    margin: 1em auto;
    padding: 1em;
    width: 300px;
}

.formField input {
    width: 200px;
}

.formLabel {
    font-weight: bold;
    text-align: right;
    width: 100px;
}