BODY { background-color: #EEEEEE; color: black }

BODY A:link { color: #0000DD; text-decoration: none }
BODY A:visited { color: #0000DD; text-decoration: none }
BODY A:active { color: #0000DD; text-decoration: none }
BODY A:hover { color: #0000DD; text-decoration: underline }

