BODY { background-color: white; color: black }
BODY A:link{ color: blue; text-decoration: none }
BODY A:visited{ color: purple; text-decoration: none }
BODY A:active{ color: purple; text-decoration: none }
BODY A:hover{ color: blue; text-decoration: underline }

TABLE { background-color: #003170; border=none }
/*TR { border: think black  }
TD { border-color: #E0E0E0; border-style: inset; border-width: thin  }*/

TABLE.titleTable { color: black; font-size: x-large; font-weight: bold; background-color: white; font-family: Comic Sans MS; border-style: none  }
TR.tableHead { font-weight: bold; color: white; background-color: #003170; font-size: 14pt }
TR.tableHead A:link { color: white; text-decoration: none }
TR.tableHead A:visited { color: white; text-decoration: none }
TR.tableHead A:active { color: white; text-decoration: none }
TR.tableHead A:hover { color: white; text-decoration: underline }

TR.catHead { font-weight: bold; color: black; background-color: #E0E0E0; } 
TR.catHead A:link { color: blue; text-decoration: none } 
TR.catHead A:visited { color: blue; text-decoration: none } 
TR.catHead A:active { color: blue; text-decoration: none } 
TR.catHead A:hover { color: red; text-decoration: none } 

TD.dsTitleCell { color: black }
TD.dsTitleCell A:link { color: blue; text-decoration: none }
TD.dsTitleCell A:visited { color: purple; text-decoration: none }
TD.dsTitleCell A:active { color: purple; text-decoration: none }
TD.dsTitleCell A:hover { color: red; text-decoration: none }

TD.dsDocCell { color: white; font-size: 11px }
TD.dsDocCell A:link { color: blue; text-decoration: none }
TD.dsDocCell A:visited { color: purple; text-decoration: none }
TD.dsDocCell A:active { color: purple; text-decoration: none }
TD.dsDocCell A:hover { color: red; text-decoration: none }


TR.listHead { font-weight: bold; color: white; background-color: #003170; font-size: 14pt }
TR.listHead A:link { color: white; text-decoration: none }
TR.listHead A:visited { color: white; text-decoration: none }
TR.listHead A:active { color: white; text-decoration: none }
TR.listHead A:hover { color: white; text-decoration: underline }
