BODY { background-color: white; color: black }
BODY A:link{ color: blue; text-decoration: none }
BODY A:visited{ color: purple; text-decoration: none }
BODY A:active{ color: purple; text-decoration: none }
BODY A:hover{ color: blue; text-decoration: underline }

TABLE { background-color: black }
/*TR { border: think black  }
TD { border-color: #E0E0E0; border-style: inset; border-width: thin  }*/

TABLE.titleTable { font-size: x-large; font-weight: bold; background-color: white; font-family: Verdana; border-style: none  }
TR.tableHead { font-weight: bold; color: black; background-color: white; font-size: 14pt }
TR.tableHead A:link { color: black; text-decoration: none }
TR.tableHead A:visited { color: black; text-decoration: none }
TR.tableHead A:active { color: black; text-decoration: none }
TR.tableHead A:hover { color: black; text-decoration: underline }

TR.catHead { font-weight: bold; color: black; background-color: #FFFCDA; } 
TR.catHead A:link { color: #3300FF; text-decoration: none } 
TR.catHead A:visited { color: #3300FF; text-decoration: none } 
TR.catHead A:active { color: #3300FF; text-decoration: none } 
TR.catHead A:hover { color: #3300FF; text-decoration: underline } 

TR.dsRow { color: black; background-color: white}
TD.dsTitleCell { color: black; }
TD.dsTitleCell A:link { color: blue; text-decoration: none }
TD.dsTitleCell A:visited { color: purple; text-decoration: none }
TD.dsTitleCell A:active { color: purple; text-decoration: none }
TD.dsTitleCell A:hover { color: blue; text-decoration: underline }

TD.dsDocCell { color: white; font-size: 11px }
TD.dsDocCell A:link { color: blue; text-decoration: none }
TD.dsDocCell A:visited { color: purple; text-decoration: none }
TD.dsDocCell A:active { color: purple; text-decoration: none }
TD.dsDocCell A:hover { color: blue; text-decoration: underline }

TR.listHead { font-weight: bold; color: black; background-color: #FFFCDA; } 
TR.listHead A:link { color: black; text-decoration: none } 
TR.listHead A:visited { color: black; text-decoration: none } 
TR.listHead A:active { color: black; text-decoration: none } 
TR.listHead A:hover { color: black; text-decoration: underline } 
