body { background-color: #e9e9e9; color: black }
body a:link { color: #3300CC; text-decoration: none }
body a:visited { color: #3300CC; text-decoration: none }
body a:active { color: #3300CC; text-decoration: none }
body a:hover { color: blue; text-decoration: underline }

#tool_link a:link
{
	color: black;
	text-decoration: none;
}

#tool_link a:Visited
{
	color: black;
	text-decoration: none;
}

#tool_link a:hover 
{ 
	color : black; 
	text-decoration : underline;
}

#sort_link a:link
{
	color: black;
	text-decoration: none;
}

#sort_link a:Visited
{
	color: black;
	text-decoration: none;
}

#sort_link a:hover 
{ 
	color : black; 
	text-decoration : underline;
}

.toggle, .users, .downloads, .hidden, .data {
	text-align:center;
}

.hidden {
	display:none;
	text-align:center;
}

.unhidden {
	display:table;
	text-align:center;
}