BODY { background-color: white; color: black }
BODY A:link { color: blue }
BODY A:visited { color: blue; text-decoration: none }
BODY A:active { color: blue; text-decoration: none }
BODY A:hover { color: red; text-decoration: none }

td.catMenuHead { color: black; font-size: 14pt; text-indent: 5px }
td.catMenuHead A:link { color: blue; text-decoration: none }
td.catMenuHead A:visited { color: blue; text-decoration: none }
td.catMenuHead A:active { color: blue; text-decoration: none }
td.catMenuHead A:hover { color: red; text-decoration: none }

td.catMenuItem { color: black; font-size: 13pt; text-indent: 10px }
td.catMenuItem A:link { color: blue; text-decoration: none }
td.catMenuItem A:visited { color: blue; text-decoration: none }
td.catMenuItem A:active { color: blue; text-decoration: none }
td.catMenuItem A:hover { color: red; text-decoration: none }

td.projectLink { color: black; text-indent: 10px }
td.projectLink A:link { color: blue; font-weight: bold; text-decoration: none }
td.projectLink A:active { color: blue; font-weight: bold; text-decoration: none }
td.projectLink A:visited { color: blue; font-weight: bold; text-decoration: none }
td.projectLink A:hover { color: red; font-weight: bold; text-decoration: blue }

td.contactEmail { color: black }
td.contactEmail A:link { color: blue; font-weight: bold; text-decoration: none }
td.contactEmail A:active { color: blue; font-weight: bold; text-decoration: none }
td.contactEmail A:visited { color: blue; font-weight: bold; text-decoration: none }
td.contactEmail A:hover { color: red; font-weight: bold; text-decoration: underline }
