BODY { background-color: #e9e9e9; color: black }
BODY A:link{ color: #000066; text-decoration: none }
BODY A:visited{ color: #000066; text-decoration: none }
BODY A:active{ color: #000066; text-decoration: none }
BODY A:hover{ color: #000066; text-decoration: underline }

TABLE { background-color: #e9e9e9 }
/*TR { background-color: white }
TD { background-color: white; color: black }*/

TABLE.titleTable { font-size: x-large; font-weight: bold; background-color: #dcdcdc; font-family: Verdana  }
TR.tableHead { font-weight: bold; color: white; background-color: #336699; font-size: 14pt }
TR.tableHead A:link { color: white; text-decoration: none }
TR.tableHead A:visited { color: white; text-decoration: none }
TR.tableHead A:active { color: white; text-decoration: none }
TR.tableHead A:hover { color: white; text-decoration: underline }

TR.catHead { font-weight: bold; color: black; background-color: #dcdcdc; } 
TR.catHead A:link { color: #3300FF; text-decoration: none } 
TR.catHead A:visited { color: #3300FF; text-decoration: none } 
TR.catHead A:active { color: #3300FF; text-decoration: none } 
TR.catHead A:hover { color: #3300FF; text-decoration: underline } 

TD.dsTitleCell { color: black }
TD.dsTitleCell A:link { color: #3300FF; text-decoration: none }
TD.dsTitleCell A:visited { color: #660099; text-decoration: none }
TD.dsTitleCell A:active { color: #660099; text-decoration: none }
TD.dsTitleCell A:hover { color: #3300FF; text-decoration: underline }

TD.dsDocCell { color: white; font-size: 11px }
TD.dsDocCell A:link { color: #3300FF; text-decoration: none }
TD.dsDocCell A:visited { color: #660099; text-decoration: none }
TD.dsDocCell A:active { color: #660099; text-decoration: none }
TD.dsDocCell A:hover { color: #3300FF; text-decoration: underline }
