BODY { background-color: #336699; color: white }
BODY A:link { color: yellow }
BODY A:visited { color: yellow }
BODY A:active { color: yellow }

td.catMenuHead { color: white; font-size: 14pt; text-indent: 5px }
td.catMenuHead A:link { color: white; text-decoration: none }
td.catMenuHead A:visited { color: white; text-decoration: none }
td.catMenuHead A:active { color: white; text-decoration: none }
td.catMenuHead A:hover { color: white; text-decoration: underline }

td.catMenuItem { color: white; font-size: 13pt; text-indent: 10px }
td.catMenuItem A:link { color: white; text-decoration: none }
td.catMenuItem A:visited { color: white; text-decoration: none }
td.catMenuItem A:active { color: white; text-decoration: none }
td.catMenuItem A:hover { color: white; text-decoration: underline }

td.projectLink { color: white; text-indent: 10px }
td.projectLink A:link { color: white; font-weight: bold; text-decoration: none }
td.projectLink A:active { color: white; font-weight: bold; text-decoration: none }
td.projectLink A:visited { color: white; font-weight: bold; text-decoration: none }
td.projectLink A:hover { color: white; font-weight: bold; text-decoration: underline }

td.contactEmail { color: white }
td.contactEmail A:link { color: white; font-weight: bold; text-decoration: none }
td.contactEmail A:active { color: white; font-weight: bold; text-decoration: none }
td.contactEmail A:visited { color: white; font-weight: bold; text-decoration: none }
td.contactEmail A:hover { color: white; font-weight: bold; text-decoration: underline }
