BODY { background-color: #e9e9e9; color: black }
BODY A:link { color: #3300CC; text-decoration: none }
BODY A:visited { color: #3300CC; text-decoration: none }
BODY A:active { color: #3300CC; text-decoration: none }
BODY A:hover { color: blue; text-decoration: underline }

table.listTable { color: black; border-color: black; background-color: #e9e9e9; }

td.noSortHeading{ color: black; background-color: #FFFFCC; font-size: 13pt; font-weight: bold; text-align: center}
td.noSortHeading A:link { color: black; text-decoration: none}
td.noSortHeading A:visited { color: black; text-decoration: none}
td.noSortHeading A:active { color: black; text-decoration: none}
td.noSortHeading A:hover { color: black; text-decoration: underline}

td.sortHeading{ color: black; background-color: #FFFF99; font-size: 13pt; font-weight: bold; text-align: center}
td.sortHeading A:link { color: black; text-decoration: none}
td.sortHeading A:visited { color: black; text-decoration: none}
td.sortHeading A:active { color: black; text-decoration: none}
td.sortHeading A:hover { color: black; text-decoration: underline}

td.navHead { color: white; font-size: 14pt; text-indent: 10px }
td.navHead A:link { color: white; text-decoration: none }
td.navHead A:visited { color: white; text-decoration: none }
td.navHead A:active { color: white; text-decoration: none }
td.navHead A:hover { color: white; text-decoration: underline }

td.navItem { color: white; font-size: 12pt; text-indent: 18px }
td.navItem A:link { color: white; text-decoration: none }
td.navItem A:visited { color: white; text-decoration: none }
td.navItem A:active { color: white; text-decoration: none }
td.navItem A:hover { color: white; text-decoration: underline }

tr.listRow{ color: black; background-color: white; font-size: 12pt; text-align: left}
tr.listRow A:link { color: #000066; text-decoration: none }
tr.listRow A:visited { color: #000066; text-decoration: none }
tr.listRow A:active { color: #000066; text-decoration: none }
tr.listRow A:hover { color: #3300FF; text-decoration: underline }

tr.hlightRow{ color: black; background-color: #FFFFCC; font-size: 12pt; text-align: left}
tr.hlightRow A:link { color: #000066; text-decoration: none }
tr.hlightRow A:visited { color: #000066; text-decoration: none }
tr.hlightRow A:active { color: #000066; text-decoration: none }
tr.hlightRow A:hover { color: #3300FF; text-decoration: underline }

td.editCell{ color: black; font-size: 9pt; font-family: Verdana}
td.editCell A:link { color: blue; text-decoration: none }
td.editCell A:visited { color: blue; text-decoration: none }
td.editCell A:active { color: blue; text-decoration: none }
td.editCell A:hover { color: red; text-decoration: none }

tr.titleBar{ color: white; background-color: #660000; font-size: 14pt; font-weight: bold; }
tr.hideBar{ color: black; background-color: #dcdcdc; font-size: 12pt; }
tr.blankBar{ color: black; background-color: #dcdcdc; font-size: 12pt; }

/* dataset view items */
tr.navBar{ color: black; background-color: #dcdcdc; font-size: 13pt; font-family: Verdana }

/*tr.navBar A:link{ color: #3300FF; text-decoration: none}
tr.navBar A:visited{ color: #3300FF; text-decoration: none}
tr.navBar A:active{ color: #3300FF; text-decoration: none}
tr.navBar A:hover{ color: #CC0000; text-decoration: underline}*/

table.dsHead{ color: black; background-color: #ebebf5; font-size: 12pt;}
/*table.dsHead A:link{ color: #000066; text-decoration: none}
table.dsHead A:visited{ color: #000066; text-decoration: none}
table.dsHead A:active{ color: #000066; text-decoration: none}
table.dsHead A:hover{ color: #3300FF; text-decoration: underline}*/

table.dsHead TD { background-color: white}
table.dsBody{ color: black; background-color: white; font-size: 12pt;}

/* edit form items */
table.editTable{ background-color: #dcdcdc; color: black }
/*table.editTable TD { background-color: #dcdcdc }*/
td.spacer{ background-color: #e9e9e9; height: 4px }
