BODY { background-color: #e9e9e9; color: black }

BODY A:link { color: #000066; text-decoration: none }
BODY A:visited { color: #000066; text-decoration: none }
BODY A:active { color: #000066; text-decoration: none }
BODY A:hover { color: #3300FF; text-decoration: underline }

table.titleTable{ color: white; background-color: #336699; font-size: 25pt; 
									font-weight: bold; text-align: center; }
 
tr.titleBar{ color: white; background-color: #336699; font-size: 15pt; font-weight: bold; }
table.contentsTable { color: black; border-color: black; background-color: #e9e9e9; }

tr.contentsRow{ color: black; background-color: white; font-size: 12pt; text-align: left}

td.topic1 {font-weight: bold; text-indent: 2px}
td.topic2 { text-indent: 15px}
td.topic3 { text-indent: 30px}

table.helpTable { color: black; border-color: black; background-color: #e9e9e9; }

tr.helpTopic1{ font-weight: bold; background-color: #FFFFCC; font-size: 13pt }
tr.helpTopic2{ font-weight: bold; background-color: white; font-size: 12pt; text-indent: 15px }

td.helpItem{ font-weight: bold; background-color: white; font-size: 12pt;}
td.helpInfo{ background-color: white; font-size: 12pt;}

tr.tableHeading{ color: black; background-color: #FFFFCC; font-size: 14pt; font-weight: bold; text-align: center}
tr.tableHeading A:link { color: black; text-decoration: none}
tr.tableHeading A:visited { color: black; text-decoration: none}
tr.tableHeading A:active { color: black; text-decoration: none}
tr.tableHeading A:hover { color: black; text-decoration: underline}

td.navHead { color: white; font-size: 14pt; text-indent: 10px }
td.navHead A:link { color: white; text-decoration: none }
td.navHead A:visited { color: white; text-decoration: none }
td.navHead A:active { color: white; text-decoration: none }
td.navHead A:hover { color: white; text-decoration: underline }

td.navItem { color: white; font-size: 12pt; text-indent: 18px }
td.navItem A:link { color: white; text-decoration: none }
td.navItem A:visited { color: white; text-decoration: none }
td.navItem A:active { color: white; text-decoration: none }
td.navItem A:hover { color: white; text-decoration: underline }


tr.hlightRow{ color: black; background-color: #FFFFCC; font-size: 12pt; text-align: left}
tr.hlightRow A:link { color: #000066; text-decoration: none }
tr.hlightRow A:visited { color: #000066; text-decoration: none }
tr.hlightRow A:active { color: #000066; text-decoration: none }
tr.hlightRow A:hover { color: #3300FF; text-decoration: underline }

td.editCell{ color: black; font-size: 9pt; font-family: Verdana}
td.editCell A:link { color: blue; text-decoration: none }
td.editCell A:visited { color: blue; text-decoration: none }
td.editCell A:active { color: blue; text-decoration: none }
td.editCell A:hover { color: red; text-decoration: none }

tr.hideBar{ color: black; background-color: #dcdcdc; font-size: 12pt; }
tr.blankBar{ color: black; background-color: #dcdcdc; font-size: 12pt; }

/* dataset view items */
tr.navBar{ color: black; background-color: #dcdcdc; font-size: 12pt; }
table.dsHead{ color: black; background-color: #ebebf5; font-size: 12pt;}
/*table.dsHead A:link{ color: #000066; text-decoration: none}
table.dsHead A:visited{ color: #000066; text-decoration: none}
table.dsHead A:active{ color: #000066; text-decoration: none}
table.dsHead A:hover{ color: #3300FF; text-decoration: underline}*/

table.dsHead TD { background-color: white}
table.dsBody{ color: black; background-color: white; font-size: 12pt;}

/* edit form items */
table.editTable{ background-color: #dcdcdc; color: black }
/*table.editTable TD { background-color: #dcdcdc }*/
td.spacer{ background-color: #e9e9e9; height: 3px }
