body { margin: 0 0 20px 0; padding: 0px; }

div.content { margin: 0 1em 1em 1em; }

div.form { border: 3px solid #000066; }
div.form table { margin: 0 auto; text-align: center; }

p { text-align: justify; }

table.stats { width: 100%; }
table.stats th.header { background-color: #000066; color: #FFFFFF; }
table.stats td { text-align: center; }
table.stats td.name { text-align: left; }

table.infoBar tr td.centerPane { font-size: 30pt; }