.gsc-resultsHeader .gsc-title {
display: none;
}
.gsc-result-selector {
display:none;
}
.gsc-results .gsc-cursor-box .gsc-cursor-page {
display:none;
}
input.gsc-input {
border:1px solid #BCCDF0;
padding-left:0;
position:relative;
top:25px;
width:70%;
z-index:-1;
}
.gsc-control div {
position:relative;
top:-20px;
width:100%;
}
img.gsc-branding-img, img.gsc-branding-img-noclear {
position:relative;
left:-65px;
width:100%;
}
td.gsc-search-button {
left:10px;
position:fixed;
width:30%;
}
.gsc-clear-button{
width:15%;
display:none;
}
form.gsc-search-box {
width:80%;
}
.gsc-branding-text {
color:lightblue;
font-size:11pt;
vertical-align:bottom;
}
a.gsc-branding{
text-decoration:none;
}
a.nav-on{
font-weight:bold;
color:#4d805f;
}
a.nav-off{
font-weight:bold;
color:#999999;
}
a.nav-off:hover{
font-weight:bold;
text-decoration:none;
}
a.nav-spacer{
color:#000000;
}
a.nav-spacer:hover{
text-decoration:none;
}
.drag-contentarea {

  background-color: #e4f5ed;
  background-image: url(../images/earthlogoresult.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: top right;

}
