HTML {
	WIDTH: 100%
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 80%; MAX-WIDTH: 1100px; PADDING-BOTTOM: 9px; MARGIN: auto; WIDTH: 97%; COLOR: #333333; PADDING-TOP: 9px; FONT-FAMILY: Arial, Helvetica, sans-serif; POSITION: relative; TOP: -11px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
A:link {
	COLOR: #003366
}
A:visited {
	COLOR: #666666
}
A:hover {
	COLOR: #006699
}
A:active {
	COLOR: #003399
}
P {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 8px; MARGIN: 0px; PADDING-TOP: 3px
}
.I1 {
	MARGIN-LEFT: 2%
}
.I2 {
	MARGIN-LEFT: 4%
}
.I3 {
	MARGIN-LEFT: 6%
}
.I4 {
	MARGIN-LEFT: 8%
}
.I5 {
	MARGIN-LEFT: 10%
}
.I6 {
	MARGIN-LEFT: 12%
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 130%; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; COLOR: #003366; PADDING-TOP: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H2 {
	PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 115%; PADDING-BOTTOM: 3px; MARGIN: 0px; COLOR: #003366; LINE-HEIGHT: normal; PADDING-TOP: 6px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H3 {
	PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 105%; PADDING-BOTTOM: 3px; MARGIN: 0px; COLOR: #003366; LINE-HEIGHT: normal; PADDING-TOP: 6px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H4 {
	PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 90%; PADDING-BOTTOM: 3px; MARGIN: 0px; COLOR: #003366; LINE-HEIGHT: normal; PADDING-TOP: 6px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H5 {
	PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 80%; PADDING-BOTTOM: 3px; MARGIN: 0px; COLOR: #003366; LINE-HEIGHT: normal; PADDING-TOP: 6px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H6 {
	PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 50%; PADDING-BOTTOM: 3px; MARGIN: 0px; COLOR: #000000; LINE-HEIGHT: normal; PADDING-TOP: 6px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.smallgraybold {
	FONT-WEIGHT: bold; FONT-SIZE: 83%; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.SmallText {
	FONT-SIZE: 83%; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.SmallTextGray {
	FONT-SIZE: 83%; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.headgreen {
	FONT-WEIGHT: bold; FONT-SIZE: 110%; COLOR: #83ae00; PADDING-TOP: 6px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.ipynav {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #0c225f; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.SmallSansSerif {
	FONT-SIZE: 85%; FONT-FAMILY: arial, helvetica, sans-serif
}
.datafont {
	FONT-SIZE: 86%; FONT-FAMILY: "Courier New", Courier, mono
}
.imageCredit {
	FONT-SIZE: xx-small; COLOR: #999999; FONT-STYLE: italic
}
#siteSearchContainerNSIDCNew {
	PADDING-RIGHT: 15px; PADDING-LEFT: 0px; RIGHT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 10px; POSITION: absolute; TOP: 0px
}
#secondaryNavigationContainerNSIDCNew {
	PADDING-RIGHT: 15px; PADDING-LEFT: 0px; RIGHT: 0px; PADDING-BOTTOM: 3px; PADDING-TOP: 10px; POSITION: absolute; TOP: 35px
}
#secondaryNavLinkNSIDC {
	Z-INDEX: 100; COLOR: #ffffff
}
#secondaryNavLinkNSIDC:visited {
	Z-INDEX: 100; COLOR: #a5b7d2
}
.bannerLinksNSIDC {
	PADDING-RIGHT: 0px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 85%; PADDING-BOTTOM: 4px; MARGIN: 0px 4px 0px 0px; COLOR: #003366; LINE-HEIGHT: normal; PADDING-TOP: 2px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
#homeSlideshowLeftNSIDC {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND: url(/images/home/homeSlideshowLeftNSIDC.gif) repeat-x left top; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 286px
}
#homeHeaderRightBackgroundNSIDCNew {
	Z-INDEX: 1; BACKGROUND: url(/images/home/topRight1.jpg) repeat-x 0px 2px
}
#logoContainerNSIDC {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 2px; HEIGHT: 0px
}
.homeIconLink {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; Z-INDEX: 100; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; POSITION: relative; HEIGHT: 65px
}
#mainNavigationContainerNSIDC {
	BORDER-RIGHT: #cccccc 1px solid; Z-INDEX: 100; LEFT: 0px; MAX-WIDTH: 1100px; BORDER-LEFT: #cccccc 1px solid; POSITION: relative; TOP: 0px
}
#mainNavigationContainerNSIDC {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
#mainNavBorderNSIDC {
	BORDER-BOTTOM: #000 1px solid
}
#p7menubar {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; LIST-STYLE-TYPE: none
}
#p7menubar UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; LIST-STYLE-TYPE: none
}
#p7menubar A {
	PADDING-RIGHT: 4px; DISPLAY: block; PADDING-LEFT: 4px; FONT-SIZE: 0.95em; PADDING-BOTTOM: 5px; BORDER-LEFT: #fff 1px solid; COLOR: #003366; PADDING-TOP: 5px; TEXT-DECORATION: none
}
#p7menubar A.trigger {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-WEIGHT: bold; PADDING-BOTTOM: 7px; PADDING-TOP: 7px
}
#p7menubar A.mainNavActive {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; PADDING-BOTTOM: 7px; COLOR: #3680ca; PADDING-TOP: 7px
}
#p7menubar LI {
	FLOAT: left; WIDTH: 8em
}
#p7menubar LI UL {
	WIDTH: 13em
}
#p7menubar UL LI {
	WIDTH: 13em
}
#p7menubar UL LI A {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 0.85em; PADDING-BOTTOM: 3px; BORDER-LEFT: #000 1px solid; COLOR: #000; PADDING-TOP: 3px; BORDER-BOTTOM: #000 1px solid; TEXT-DECORATION: none
}
#p7menubar LI UL {
	DISPLAY: none; Z-INDEX: 10; POSITION: absolute; BACKGROUND-COLOR: #e1e0e0
}
#p7menubar LI:hover A {
	COLOR: #d53135; POSITION: relative; BACKGROUND-COLOR: transparent
}
#p7menubar A:focus {
	COLOR: #d53135; POSITION: relative; BACKGROUND-COLOR: transparent
}
#p7menubar A:active {
	COLOR: #d53135; POSITION: relative; BACKGROUND-COLOR: transparent
}
#p7menubar LI.p7hvr A {
	COLOR: #d53135; POSITION: relative; BACKGROUND-COLOR: transparent
}
#p7menubar LI:hover UL {
	BORDER-TOP: #000 1px solid; DISPLAY: block
}
#p7menubar LI.p7hvr UL {
	BORDER-TOP: #000 1px solid; DISPLAY: block
}
#p7menubar LI:hover UL A {
	COLOR: #003366; BACKGROUND-COLOR: transparent
}
#p7menubar LI.p7hvr UL A {
	COLOR: #003366; BACKGROUND-COLOR: transparent
}
#p7menubar UL A:hover {
	COLOR: #000! important; BACKGROUND-COLOR: #a5c1dd! important
}
#p7menubar LI {
	WIDTH: auto
}
#toolboxContainer {
	MARGIN: 0px 0px 0px 20px; TEXT-ALIGN: left
}
.toolboxhead {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 95%; PADDING-BOTTOM: 4px; MARGIN: 17px 0px 4px; COLOR: #ffffff; LINE-HEIGHT: 20px; PADDING-TOP: 6px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.seealso {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 105%; PADDING-BOTTOM: 4px; MARGIN: 17px 0px 4px; BORDER-LEFT: #006699 1px solid; COLOR: #006699; PADDING-TOP: 6px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.relatedresources {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 105%; PADDING-BOTTOM: 4px; MARGIN: 17px 0px 4px; BORDER-LEFT: #85b000 1px solid; COLOR: #85b000; PADDING-TOP: 6px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.news {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 105%; PADDING-BOTTOM: 4px; MARGIN: 17px 0px 4px; BORDER-LEFT: #6482a2 1px solid; COLOR: #6482a2; PADDING-TOP: 6px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.toolboxother {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 105%; PADDING-BOTTOM: 4px; MARGIN: 17px 0px 4px; BORDER-LEFT: #333366 1px solid; COLOR: #333366; PADDING-TOP: 6px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.callouthead {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 85%; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #003366; PADDING-TOP: 4px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.callouttext {
	PADDING-RIGHT: 4px; PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 0.88em; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #003366; PADDING-TOP: 2px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.helptext {
	FONT-WEIGHT: normal; FONT-SIZE: 83%; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.newsdate {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 90%; PADDING-BOTTOM: 5px; MARGIN: 0px; COLOR: #990033; PADDING-TOP: 5px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
#homeBodyBorderNSIDC {
	BORDER-RIGHT: #000 1px solid; BORDER-TOP: #000 0px solid; BORDER-LEFT: #000 1px solid; BORDER-BOTTOM: #000 1px solid
}
.toolboxNewsdate {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 90%; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #990033; PADDING-TOP: 5px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
#homeFooterNSIDC {
	PADDING-RIGHT: 0px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 10px; POSITION: relative; TOP: -6px
}
#homeTextNSIDC {
	LEFT: 4em; WIDTH: 42%; COLOR: #ffffff; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif
	font-size: 115%; POSITION: absolute; TOP: 50px
}
#homeDataBannerNSIDC {
	PADDING-RIGHT: 4px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 105%; BACKGROUND: url(/images/home/featuresBackgroundNSIDC.gif) no-repeat left top; PADDING-BOTTOM: 1px; MARGIN: 0px; COLOR: #ffffff; PADDING-TOP: 1px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; POSITION: relative; TOP: -1px; HEIGHT: 27px
}
#featurebanner {
	PADDING-RIGHT: 4px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 105%; BACKGROUND: url(/images/home/featuresBackgroundNSIDC.gif) no-repeat left top; PADDING-BOTTOM: 1px; MARGIN: 0px; COLOR: #ffffff; PADDING-TOP: 1px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; POSITION: relative; TOP: 8px; HEIGHT: 27px
}
#homeNewsBannerNSIDC {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 105%; BACKGROUND: url(/images/home/newsBackgroundNSIDC.gif) no-repeat left top; PADDING-BOTTOM: 1px; MARGIN: 0px; COLOR: #ffffff; PADDING-TOP: 1px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 27px
}
#homeNewsContainerNSIDC {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #000 1px solid; PADDING-TOP: 0px
}
.homeFeatureBorderNSIDC {
	BORDER-RIGHT: #000 1px solid
}
.homeHeadings {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-WEIGHT: bold; PADDING-BOTTOM: 6px; COLOR: #349134; PADDING-TOP: 6px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
#homeNoticesContainerNSIDC {
	POSITION: relative
}
#homeNoticesContainerNSIDC P {
	PADDING-RIGHT: 12px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 12px; FONT-WEIGHT: bold; FONT-SIZE: 85%; BACKGROUND: url(/images/home/noticesBackground4NSIDC.gif) no-repeat left top; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 20px; COLOR: #990033; PADDING-TOP: 40px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
#quickSearchPaddingOffset {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1px; PADDING-BOTTOM: 0px; PADDING-TOP: 4px
}
#inputOffsetLeft {
	MARGIN: 0px
}
#offsetLeft {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#homeQuickSearchContainerNSIDC {
	PADDING-RIGHT: 0px; PADDING-LEFT: 4px; PADDING-BOTTOM: 0px; PADDING-TOP: 10px
}
#homeMainContentContainerNSIDC {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; PADDING-BOTTOM: 0px; PADDING-TOP: 10px
}
#advancedSearchLinkContainer {
	PADDING-RIGHT: 0px; PADDING-LEFT: 8px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#homeToolboxNSIDC {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
IMG.homeSponsorLogoNSIDC {
	WIDTH: 90%
}
SPAN.homeLinkVertSpacer {
	LINE-HEIGHT: 0.5em
}
.quickSearchCardinalDirectionNSIDC {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 85%; PADDING-BOTTOM: 4px; MARGIN: 0px 4px 0px 0px; COLOR: #003366; LINE-HEIGHT: normal; PADDING-TOP: 2px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.secondarySiteHomeImageContainerNSIDC {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 35px; MARGIN: 0px 0px 10px 15px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #cccccc 1px solid; POSITION: relative
}
IMG.secondarySiteHomeImageNSIDC {
	
}
.secondaryContentContainerNSIDC {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 3px
}
.secondaryPageTitle {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 1.1em; PADDING-BOTTOM: 10px; MARGIN: 0px; COLOR: #003366; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.secondaryContentContainerNSIDC H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 7px; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 0px
}
.secondaryContentContainerNSIDC H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 12px; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 0px
}
.secondaryPageSubnavTitle {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 90%; PADDING-BOTTOM: 5px; MARGIN: 0px; COLOR: #003366; LINE-HEIGHT: normal; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.tertiaryTitle {
	PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 90%; PADDING-BOTTOM: 3px; MARGIN: 0px; COLOR: #003366; LINE-HEIGHT: normal; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.secondaryNavContainerNSIDC {
	PADDING-RIGHT: 10px; PADDING-LEFT: 20px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.secondaryNavContainerNSIDC A {
	COLOR: #330066; TEXT-DECORATION: none
}
.secondaryNavContainerNSIDC A:hover {
	COLOR: #d53135; TEXT-DECORATION: underline
}
.secondaryNavContainerNSIDC A:visited {
	COLOR: #330066
}
.secondaryNavContainerNSIDC A:active {
	COLOR: #000; TEXT-DECORATION: none
}
.nav1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 85%; PADDING-BOTTOM: 5px; MARGIN: 0px 4px 0px 0px; COLOR: #003366; LINE-HEIGHT: normal; PADDING-TOP: 5px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.nav1Top {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 85%; PADDING-BOTTOM: 5px; MARGIN: 0px 4px 0px 0px; COLOR: #003366; LINE-HEIGHT: normal; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.nav2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 82%; PADDING-BOTTOM: 2px; MARGIN: 0px 4px 0px 12px; COLOR: #003366; LINE-HEIGHT: normal; PADDING-TOP: 2px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.nav2Last {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 82%; PADDING-BOTTOM: 5px; MARGIN: 0px 4px 0px 12px; PADDING-TOP: 2px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.nav3 {
	PADDING-RIGHT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 82%; PADDING-BOTTOM: 3px; MARGIN: 0px 4px 0px 20px; COLOR: #003366; LINE-HEIGHT: normal; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.nav4 {
	PADDING-RIGHT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 82%; PADDING-BOTTOM: 3px; MARGIN: 0px 8px 0px 0px; COLOR: #003366; LINE-HEIGHT: normal; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.activeNav1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 85%; PADDING-BOTTOM: 5px; MARGIN: 0px 4px 0px 0px; COLOR: #3680ca; LINE-HEIGHT: normal; PADDING-TOP: 5px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.activeNav1 A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 100%; PADDING-BOTTOM: 5px; MARGIN: 0px 4px 0px 0px; COLOR: #3680ca; LINE-HEIGHT: normal; PADDING-TOP: 5px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.activeNav1 A:visited {
	COLOR: #3680ca
}
.activeNav1 A:hover {
	COLOR: #d53135
}
.activeNav2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 82%; PADDING-BOTTOM: 2px; MARGIN: 0px 4px 0px 12px; COLOR: #3680ca; LINE-HEIGHT: normal; PADDING-TOP: 2px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.activeNav2 A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 100%; PADDING-BOTTOM: 2px; MARGIN: 0px 4px 0px 12px; COLOR: #3680ca; LINE-HEIGHT: normal; PADDING-TOP: 2px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.activeNav2 A:visited {
	COLOR: #3680ca
}
.activeNav2 A:hover {
	COLOR: #d53135
}
.activeNav2Last {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 82%; PADDING-BOTTOM: 5px; MARGIN: 0px 4px 0px 12px; COLOR: #3680ca; LINE-HEIGHT: normal; PADDING-TOP: 2px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.activeNav2Last A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 100%; PADDING-BOTTOM: 5px; MARGIN: 0px 4px 0px 12px; COLOR: #3680ca; LINE-HEIGHT: normal; PADDING-TOP: 2px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.activeNav2Last A:visited {
	COLOR: #3680ca
}
.activeNav2Last A:hover {
	COLOR: #d53135
}
.secondaryHeadingContainer {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: #cccccc 1px solid; POSITION: relative; TOP: 0px
}
.secondaryHeadingTitleContainer {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #e5e5e5; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.secondaryHeadingTitle {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; FONT-WEIGHT: bold; FONT-SIZE: 2em; PADDING-BOTTOM: 0px; COLOR: #003366; PADDING-TOP: 15px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.secondaryQuoteContainer {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 0px
}
.secondaryQuote {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; FONT-SIZE: 80%; PADDING-BOTTOM: 0px; COLOR: #333333; PADDING-TOP: 0.5em; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.quoteCredit {
	FONT-SIZE: 1em; COLOR: #666666; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.secondaryToolboxContainerNSIDC {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #cccccc 1px solid; TEXT-ALIGN: left
}
#footerNSIDC {
	PADDING-RIGHT: 0px; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 10px; POSITION: relative; TOP: 0px
}
.footerTitleTextNSIDC {
	FONT-WEIGHT: bold; FONT-SIZE: 85%; COLOR: #003366; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
#sponsorsContainerNSIDC {
	PADDING-RIGHT: 0.8em; PADDING-LEFT: 0.8em; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
INPUT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 4px; FONT-WEIGHT: normal; FONT-SIZE: 83%; PADDING-BOTTOM: 0px; MARGIN-LEFT: 4px; COLOR: #333333; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
DIV.inlineImageRight {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; FLOAT: right; PADDING-BOTTOM: 5px; WIDTH: 40%; PADDING-TOP: 5px; POSITION: relative
}
DIV.inlineImageLeft {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 5px; WIDTH: 40%; PADDING-TOP: 5px; POSITION: relative
}
#figureText {
	DISPLAY: block
}
.slideImage {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid
}
.slideshowCaption {
	FONT-SIZE: 85%
}
.homeSlidesGalleryContainer {
	PADDING-RIGHT: 16px; PADDING-LEFT: 0px; LEFT: 0px; PADDING-BOTTOM: 0px; WIDTH: 508px; PADDING-TOP: 5px; POSITION: relative; TOP: 5px; TEXT-ALIGN: left
}
