#menuitem A:link {
color: white;
text-decoration: none;
}
A:link {
	color: #0000FF;
	text-decoration: none;
}

#menuitem A:Visited {
color: #FFFFFF;
}
A:Visited  {
color: #003399;
text-decoration: none;
}

#menuitem A:hover { 
color : #48D1CC; 
text-decoration : underline; }
A:hover {
color : #FF0000;
text-decoration : underline;
}

#baritem A:link {
color: white;
text-decoration: none;
}
A:link {
	color: #0000FF;
	text-decoration: none;
}

#baritem A:Visited {
color: #FFFFFF;
}
A:Visited  {
color: #003399;
text-decoration: none;
}

#baritem A:hover { 
color : yellow; 
text-decoration : underline; }
A:hover {
color : #FF0000;
text-decoration : underline;
}

.white  {
	font-size : 12pt;
	color : #FFFFFF;
	font-weight : bold;
	font-family : Arial, Helvetica, San Serif;
        line-height: 8px;
        text-indent: 20px;
}

.yellow  {
	font-family : Arial, Helvetica, San Serif;
	font-size : 11pt;
	font-weight : bold;
	color : yellow;
	text-indent: 5px;
}

.searchinput, .searchinput SELECT, .searchinput INPUT  {
	font-size : 8pt;
}

td  {
	font-size : 9pt;
	font-family : Arial, Helvetica, San Serif;
}

h3 {
	font-size : 13pt;
	font-family : Arial, Helvetica, San Serif;
}

.gray  {
	font-size : 8pt;
	color : #808080;
}

.nav  {
	font-size :11pt;
	color : #FFFFFF;
	font-weight : bold;
	font-family : Arial, Helvetica, San Serif;
}

.nwslink  {
	font-size : 9pt;
	color: Black;
	text-decoration: none;
	font-family : Arial, Helvetica, San Serif;
}

.srhwhite  {
	font-size : 9pt;
	text-decoration: none;
	color : #FFFFFF;
	font-weight : bold;
	font-family : Arial, Helvetica, San Serif;
}

.ahps  {
	font-size : 8pt;
	color : #FFFFFF;
	font-family : Arial, Helvetica, San Serif;
}

